@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Bold.woff");
  font-weight: 700;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: "Geometria", sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

.g-header {
  display: block;
  position: relative;
  width: 100%;
  padding: 14px 0;
  border-bottom: 1px solid #306bd1;
  background: #ffffff;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__mob {
    display: none;
  }
  &__logo {
    display: block;
    position: relative;
    img,
    svg {
      display: block;
      max-width: 215px;
      max-height: 60px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  &__what {
    display: block;
    margin: 0;
    color: #252525;
    font-size: 12px;
    font-weight: 400;
  }
  &__info {
    display: flex;
    align-items: center;
    position: relative;
    margin: 8px 0;
    img,
    svg {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 10px;
      object-fit: scale-down;
      object-position: center center;
    }
    color: #252525;
    font-size: 16px;
    font-weight: 400;
    a {
      color: #252525;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #0b4382;
        text-decoration: none;
      }
    }
  }
  &__button {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding: 11px 17px;
    border: 1px solid #306bd1;
    background-color: #ffffff;
    color: #306bd1;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    img,
    svg {
      display: block;
      max-width: 27px;
      max-height: 27px;
      margin-right: 10px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        filter: brightness(0) invert(1);
      }
      background: #0b4382;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.g-numbers {
  display: block;
  position: relative;
  padding: 18px 0;
  background-color: #f0f4f9;
  &-number {
    display: block;
    margin: 0;
    color: #252525;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.71;
    a {
      color: #0b4382;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #0b4382;
        text-decoration: none;
      }
    }
  }
}

.g-nav {
  display: block;
  position: relative;
  background-color: #306bd1;
  &__ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      position: relative;
      &:hover {
        & > ul {
          display: block;
        }
      }
    }
    & > li {
      display: inline-block;
      position: relative;
      & > a {
        display: inline-block;
        position: relative;
        padding: 15px 0;
        color: #ffffff;
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #8cb1f1;
          text-decoration: none;
        }
      }
      & > ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 300px;
        margin: 0;
        padding: 2px 8px;
        list-style: none;
        background-color: #f0f4f9;
        z-index: 19;
        li {
          display: block;
          position: relative;
          width: 100%;
          a {
            display: block;
            width: 100%;
            margin: 12px 0;
            padding: 5px 10px;
            color: #252525;
            font-size: 15px;
            font-weight: 500;
            cursor: pointer;
            text-decoration: none;
            transition: all 0.2s ease-out;
            &:hover {
              background: #ffffff;
              color: #252525;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.g-top {
  display: block;
  position: relative;
  &-card {
    display: block;
    position: relative;
    width: 100%;
    padding: 160px 0;
    background-position: center center;
    background-size: cover;
    &__title {
      display: block;
      max-height: 153px;
      overflow: hidden;
      margin: 0;
      color: #ffffff;
      font-size: 34px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: normal;
      line-height: 1.5;
      text-align: left;
      text-transform: uppercase;
    }
    &__button {
      display: inline-block;
      margin: 35px 0 0 0;
      padding: 15px 83px;
      background-color: #306bd1;
      color: #ffffff;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: normal;
      text-align: left;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background: #5d98ff;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    outline: none;
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    left: calc((100vw - 1200px) / 2 - 80px);
  }
  .swiper-button-next {
    right: calc((100vw - 1200px) / 2 - 80px);
  }
  .swiper-pagination {
    counter-reset: my-awesome-counter;
    bottom: 45px;
    left: calc((100vw - 1170px) / 2);
    text-align: left;
    .swiper-pagination-bullet {
      counter-increment: my-awesome-counter;
      width: 50px;
      margin: 0;
      opacity: 1;
      background: transparent;
      &:before {
        content: "0" counter(my-awesome-counter);
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
      }
    }
    .swiper-pagination-bullet-active {
      &:before {
        color: #306bd1;
      }
    }
  }
}

.g-home-title {
  display: block;
  position: relative;
  padding: 22px 0;
  background-color: rgba(65, 122, 219, 0.212);
  text-align: center;
  &__this {
    display: block;
    margin: 0;
    color: #252525;
    font-size: 25px;
    font-weight: 500;
  }
}

.g-home-features {
  display: block;
  position: relative;
  padding: 40px 0 15px 0;
  background-color: #f0f4f9;
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0 0 30px 0;
    color: #252525;
    font-size: 16px;
    font-weight: 500;
    img,
    svg {
      display: block;
      max-width: 55px;
      max-height: 55px;
    }
  }
}

.g-home-services {
  display: block;
  position: relative;
  padding: 130px 0 40px 0;
  border-bottom: 1px solid #d7d7d7;
  &_about {
    padding: 0;
    border: 0;
  }
  &__title {
    display: block;
    margin: 0 0 26px 0;
    color: #252525;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__image {
    display: block;
    position: relative;
    img,
    svg {
      display: block;
      position: absolute;
      max-height: 500px;
    }
  }
  ul {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      position: relative;
      margin: 0 0 20px 0;
      padding: 0 0 0 20px;
      color: #252525;
      font-size: 18px;
      font-weight: 500;
      background: url("../images/icon_ul.png") no-repeat 0 6px;
    }
  }
  &__button {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin: 20px 0 0 0;
    padding: 8px 26px;
    border: 1px solid #306bd1;
    background-color: #ffffff;
    color: #306bd1;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #0b4382;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.g-home-fix {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 60px 0 140px 0;
  img,
  svg {
    max-width: 100%;
    max-height: 100%;
  }
  &__title {
    display: block;
    margin: 16px 0 46px 0;
    color: #252525;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    overflow: visible !important;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 370px;
    min-height: 200px;
    padding: 15px 28px 20px 28px;
    border: 1px solid #306bd1;
    background-color: #306bd1;
    &__number {
      display: block;
      margin: 0 0 5px 0;
      color: #417adb;
      font-size: 62px;
      font-weight: 500;
    }
    &__title {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 18px;
      font-weight: 500;
    }
  }
  &__button {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding: 7px 72px;
    border: 1px solid #306bd1;
    background-color: #ffffff;
    color: #306bd1;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #0b4382;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 30px 0 0 0;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    width: 35px;
    height: 35px;
    margin: 0;
    border: 1px solid #306bd1;
    background-color: #ffffff;
    outline: none;
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        filter: brightness(0) invert(1);
      }
      background-color: #306bd1;
      text-decoration: none;
    }
  }
  .swiper-button-next {
    margin-left: 10px;
  }
  .swiper-scrollbar {
    height: 1px;
    margin: 46px 0 0 0;
    padding-top: 1px;
    background: #c8c8c8;
  }
  .swiper-scrollbar-drag {
    height: 3px;
    margin-top: -2px;
    background-color: #306bd1;
  }
}

.g-home-seo {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 25px 0;
  background-color: #f0f4f9;
  &_about {
    margin: 80px 0;
    padding: 50px 0 25px 0;
    .g-home-seo__tile {
      margin: 0 0 30px 0;
    }
  }
  &__title {
    display: block;
    margin: -20px 0 50px 0;
    color: #252525;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    p {
      display: block;
      margin: 0 0 10px 0;
      color: #252525;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 1.5;
    }
    b,
    strong {
      font-weight: 700;
    }
    ul {
      display: block;
      margin: 10px 0 10px 10px;
      padding: 0;
      list-style: none;
      color: #252525;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 1.5;
      li {
        display: block;
        position: relative;
        &:before {
          content: "• ";
          color: #306bd1;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
  &__image {
    display: block;
    position: absolute;
    top: -50px;
    right: 0;
    width: calc((100vw - 1170px) / 2 + 430px);
    height: 535px;
    background-position: center center;
    background-size: cover;
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: calc(100% + 20px);
      height: 100%;
      top: 20px;
      left: -20px;
      border: 2px solid #306bd1;
      border-right: 0;
      z-index: 2;
    }
  }
  &__alt {
    display: block;
    position: absolute;
    top: -80px;
    left: 0;
    width: calc((100vw - 1170px) / 2 + 220px);
    height: 550px;
    background-position: center center;
    background-size: cover;
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: calc(100% + 20px);
      height: 100%;
      top: 20px;
      left: 0;
      border: 2px solid #306bd1;
      border-left: 0;
      z-index: 2;
    }
  }
}

.g-home-reviews {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 110px 0 150px 0;
  img,
  svg {
    max-width: 100%;
    max-height: 100%;
  }
  &__title {
    display: block;
    margin: 20px 0 45px 0;
    color: #252525;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 870px;
    padding: 65px 200px 50px 100px;
    border: 1px solid #306bd1;
    background: #306bd1 url("../images/home_reviews_quote.png") no-repeat 30px 30px;
    &__text {
      display: block;
      position: relative;
      height: 144px;
      overflow: hidden;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 1.5;
    }
    &__image {
      display: block;
      width: 80px;
      height: 80px;
      border-radius: 999rem;
      background-position: center center;
      background-size: cover;
    }
    &__name {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
    }
    &__who {
      display: block;
      margin: 7px 0 0 0;
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
    }
  }
  &__button {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding: 7px 25px;
    border: 1px solid #306bd1;
    background-color: #ffffff;
    color: #306bd1;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #0b4382;
      color: #ffffff;
      text-decoration: none;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: auto;
    left: auto;
    bottom: auto;
    right: 70px;
    width: 35px;
    height: 35px;
    margin: 0;
    border: 1px solid #ffffff;
    background-color: transparent;
    outline: none;
    z-index: 5;
    img,
    svg {
      filter: brightness(0) invert(1);
      transition: all 0.2s ease-out;
    }
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        filter: none;
      }
      background-color: #ffffff;
      text-decoration: none;
    }
  }
  .swiper-button-next {
    top: 125px;
  }
  .swiper-button-prev {
    top: 190px;
  }
}

.g-home-feedback {
  display: block;
  position: relative;
  padding: 130px 0;
  img,
  svg {
    max-width: 100%;
    max-height: 100%;
  }
  &__title {
    display: block;
    margin: 35px 0;
    color: #252525;
    font-size: 24px;
    font-weight: 500;
  }
  &__image {
    display: block;
    position: relative;
    width: 100%;
    max-width: 570px;
    height: 600px;
    background-position: center center;
    background-size: cover;
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 20px;
      left: 20px;
      border: 2px solid #306bd1;
      z-index: 2;
    }
  }
  form {
    width: 100%;
    max-width: 400px;
  }
  input {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 5px 0;
    border: 0;
    outline: none;
    border-bottom: 1px solid #306bd1;
    background-color: transparent;
    color: #252525;
    font-size: 18px;
    font-weight: 400;
  }
  &__button {
    display: block;
    width: 100%;
    margin: 60px 0 0 0;
    padding: 16px;
    border: 0;
    outline: none;
    background-color: #306bd1;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: normal;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #5d98ff;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    margin: 32px 0 0 0;
    color: #898989;
    font-size: 14px;
    font-weight: 400;
  }
}

.g-map-title {
  display: block;
  position: relative;
  padding: 20px 0;
  background-color: #306bd1;
  text-align: center;
  &__this {
    display: block;
    position: relative;
    margin: 0;
    color: #ffffff;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.g-map {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.g-footer {
  display: block;
  position: relative;
  padding: 35px 0;
  background: #15305d;
  &__logo {
    display: block;
    position: relative;
    img,
    svg {
      display: block;
      max-width: 215px;
      max-height: 60px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0 0 18px 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 4px 0;
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #306bd1;
          text-decoration: none;
        }
      }
    }
  }
  &__info {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin: 0 50px 0 0;
    img,
    svg {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 10px;
      object-fit: scale-down;
      object-position: center center;
    }
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    a {
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #306bd1;
        text-decoration: none;
      }
    }
  }
}

.g-bottom {
  display: block;
  position: relative;
  width: 100%;
  padding: 12px 0;
  background-color: #306bd1;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  &__creators {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    img,
    svg {
      display: block;
      max-width: 26px;
      max-height: 26px;
      margin: 0 10px;
    }
    a {
      color: #ffffff;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.g-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.4);
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 30px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 630px;
    margin: 30px 0;
    padding: 60px 110px;
    border: 1px solid #306bd1;
    background-color: #ffffff;
  }
  &__title {
    display: block;
    margin: 35px 0 30px 0;
    color: #252525;
    font-size: 25px;
    font-weight: 500;
  }
  input {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 5px 0;
    border: 0;
    outline: none;
    border-bottom: 1px solid #306bd1;
    background-color: transparent;
    color: #252525;
    font-size: 18px;
    font-weight: 400;
  }
  &__button {
    display: block;
    width: 100%;
    margin: 30px 0 0 0;
    padding: 16px;
    border: 0;
    outline: none;
    background-color: #306bd1;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: normal;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #5d98ff;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    margin: 22px 0 0 0;
    color: #898989;
    font-size: 14px;
    font-weight: 400;
  }
}

.g-breadcrumps {
  display: block;
  position: relative;
  padding: 16px 0;
  background-color: #f0f4f9;
  &__this {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #252525;
    font-size: 14px;
    font-weight: 400;
    img,
    svg {
      display: block;
      max-width: 10px;
      max-height: 10px;
      margin: 0 5px;
    }
    a {
      color: #252525;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #0b4382;
        text-decoration: none;
      }
    }
  }
}

.g-page {
  display: block;
  position: relative;
  padding: 70px 0 40px 0;
  &__title {
    display: block;
    margin: 0 0 25px 0;
    color: #252525;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.g-services {
  &-card {
    display: flex;
    align-items: stretch;
    position: relative;
    width: 100%;
    margin: 0 auto 30px auto;
    background-color: #306bd1;
    &_fix {
      .g-services-card__content {
        background: url("../images/services_fix.png") no-repeat right 20px bottom 20px;
      }
    }
    &_trade {
      .g-services-card__content {
        background: url("../images/services_trade.png") no-repeat right 20px bottom 20px;
      }
    }
    &_sale {
      .g-services-card__content {
        background: url("../images/services_sale.png") no-repeat right 20px bottom 20px;
      }
    }
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 200px;
      padding: 5px;
      border: 1px solid #306bd1;
      background-color: #ffffff;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__content {
      display: block;
      position: relative;
      flex: 1 1 auto;
      min-height: 200px;
      padding: 36px 40px;
    }
    &__title {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 20px;
      font-weight: 500;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #0b4382;
      text-decoration: none;
    }
  }
}

.g-reviews {
  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto 30px auto;
    padding: 40px;
    border: 1px solid #306bd1;
    background: #ffffff url("../images/reviews_quote_alt.png") no-repeat left 460px top 15px;
    &__image {
      display: block;
      width: 80px;
      height: 80px;
      border-radius: 999rem;
      background-position: center center;
      background-size: cover;
    }
    &__name {
      display: block;
      margin: 0 0 0 15px;
      color: #306bd1;
      font-size: 20px;
      font-weight: 700;
    }
    &__who {
      display: block;
      margin: 6px 0 0 15px;
      color: #306bd1;
      font-size: 14px;
      font-weight: 500;
    }
    &__text {
      display: block;
      margin: 0;
      color: #252525;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 1.5;
    }
  }
  &__centered {
    display: flex;
    justify-content: center;
    padding: 10px 0 30px 0;
  }
  &__button {
    display: inline-block;
    position: relative;
    padding: 6px 24px;
    border: 1px solid #306bd1;
    background-color: #ffffff;
    color: #306bd1;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #0b4382;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.g-about {
  display: block;
  position: relative;
  margin-top: -40px;
  &-wrap {
    padding: 40px 0 20px 0;
  }
  &__text {
    display: block;
    margin: 50px 0 0 0;
    color: #252525;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.71;
  }
  &__image {
    display: block;
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 300px;
    margin-left: 60px;
    background-position: center center;
    background-size: cover;
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 20px;
      left: -20px;
      border: 2px solid #306bd1;
      z-index: 2;
    }
  }
}

.g-papers {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 80px 0 110px 0;
  img,
  svg {
    max-width: 100%;
    max-height: 100%;
  }
  &__title {
    display: block;
    margin: 20px 0 45px 0;
    color: #252525;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 870px;
    min-height: 350px;
    padding: 45px 160px 45px 45px;
    border: 1px solid #306bd1;
    background: #306bd1;
    &__title {
      display: block;
      margin: 0 0 15px 0;
      padding-left: 30px;
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
    }
    &__text {
      display: block;
      position: relative;
      padding-left: 30px;
      height: 144px;
      overflow: hidden;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 1.5;
    }
    &__image {
      display: block;
      width: 185px;
      height: 260px;
      background-position: center center;
      background-size: contain;
    }
  }
  &__button {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding: 7px 25px;
    border: 1px solid #306bd1;
    background-color: #ffffff;
    color: #306bd1;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #0b4382;
      color: #ffffff;
      text-decoration: none;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: auto;
    left: auto;
    bottom: auto;
    right: 70px;
    width: 35px;
    height: 35px;
    margin: 0;
    border: 1px solid #ffffff;
    background-color: transparent;
    outline: none;
    z-index: 5;
    img,
    svg {
      filter: brightness(0) invert(1);
      transition: all 0.2s ease-out;
    }
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        filter: none;
      }
      background-color: #ffffff;
      text-decoration: none;
    }
  }
  .swiper-button-next {
    top: 125px;
  }
  .swiper-button-prev {
    top: 190px;
  }
}

.g-gallery {
  display: block;
  position: relative;
  padding: 0 0 70px 0;
  background-color: #f0f4f9;
  &__title {
    display: block;
    margin: -20px 0 60px 0;
    color: #252525;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__cards {
    display: block;
    position: relative;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    height: 170px;
    margin: 0 0 30px 0;
    padding: 5px;
    border: 2px solid #306bd1;
    background-color: transparent;
    transition: all 0.2s ease-out;
    &__title {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 10px;
      opacity: 0;
      background: rgba(48, 107, 209, 0.7);
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.2;
      text-align: center;
      transition: all 0.2s ease-out;
    }
    &__content {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .g-gallery-card__title {
        padding: 15px;
        opacity: 1;
      }
      padding: 0;
      text-decoration: none;
    }
  }
}

.g-good {
  display: block;
  position: relative;
  position: relative;
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 370px;
    height: 370px;
    border: 1px solid #306bd1;
    background-color: #ffffff;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #252525;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    &-page {
      display: block;
      margin: 45px 0 20px 0;
      color: #252525;
      font-size: 25px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
  &__price {
    display: block;
    margin: 0;
    color: #252525;
    font-size: 35px;
    font-weight: 500;
    b,
    strong {
      color: #306bd1;
      font-weight: 500;
    }
  }
  &__subtitle {
    display: block;
    margin: 40px 0 5px 0;
    font-size: 16px;
    color: #306bd1;
    font-weight: 500;
  }
  &__info {
    display: block;
    margin: 0;
    color: #252525;
    font-size: 16px;
    font-weight: 400;
  }
}

.g-tabs {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 70px 0;
  &__header {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 3;
    li {
      display: inline-block;
      margin-left: -1px;
      padding: 19px 54px;
      border: 1px solid #c8c8c8;
      background-color: #ffffff;
      color: #252525;
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
      &.current {
        border-color: #306bd1;
        z-index: 4;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__content {
    display: none;
    position: relative;
    width: 100%;
    margin: 0;
    &.current {
      display: block;
    }
  }
}

.table {
  margin: 0;
  border: 1px solid #306bd1;
}
.table thead th {
  padding: 18px 8px;
  border: 0;
  background: #306bd1;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}
.table td,
.table th {
  padding: 10px 8px;
  color: #252525;
  font-size: 16px;
  font-weight: 400;
  vertical-align: middle;
}
.table-striped tbody tr:nth-of-type(odd) {
  background: #f0f4f9;
}
.table-responsive {
  max-height: 655px;
}
.simplebar-track {
  background: #c8c8c8;
}
.simplebar-scrollbar:before {
  opacity: 1;
  background: #306bd1;
  border-radius: 0;
}
.simplebar-track.simplebar-vertical {
  width: 3px;
  .simplebar-scrollbar:before {
    left: 0;
    right: 0;
  }
}

.g-service {
  display: block;
  position: relative;
  position: relative;
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 370px;
    height: 370px;
    border: 1px solid #306bd1;
    background-color: #ffffff;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    margin: 0;
    color: #252525;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    img,
    svg {
      display: block;
      max-width: 78px;
      max-height: 78px;
      margin-right: 20px;
    }
  }
  &__content {
    display: block;
    position: relative;
    padding: 20px 0;
    p {
      display: block;
      margin: 0 0 10px 0;
      color: #252525;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 1.5;
    }
    b,
    strong {
      font-weight: 700;
    }
    ul {
      display: block;
      margin: 10px 0 10px 10px;
      padding: 0;
      list-style: none;
      color: #252525;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 1.5;
      li {
        display: block;
        position: relative;
        &:before {
          content: "• ";
          color: #306bd1;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
}

.g-categories {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 70px 0;
  &__title {
    display: block;
    margin: 0 0 46px 0;
    color: #252525;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0 auto 30px auto;
    border: 1px solid #306bd1;
    background-color: #ffffff;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 270px;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
        padding: 5px;
      }
    }
    &__title {
      display: block;
      position: relative;
      min-height: 82px;
      padding: 17px 10px;
      background-color: #306bd1;
      text-align: center;
      color: #ffffff;
      font-size: 20px;
      font-weight: 500;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .g-categories-card__title {
        background: #0b4382;
      }
      text-decoration: none;
    }
  }
  &-content {
    display: block;
    position: relative;
    width: 100%;
    padding: 80px 0;
    background: url("../images/categories_bg.jpg") no-repeat center center;
    background-size: cover;
    &__title {
      display: block;
      margin: 0 0 5px 0;
      color: #252525;
      font-size: 20px;
      font-weight: 700;
    }
    p {
      display: block;
      margin: 0 0 10px 0;
      color: #252525;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 1.5;
    }
    b,
    strong {
      font-weight: 700;
    }
    ul {
      display: block;
      margin: 10px 0 10px 10px;
      padding: 0;
      list-style: none;
      color: #252525;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 1.5;
      li {
        display: block;
        position: relative;
        &:before {
          content: "• ";
          color: #306bd1;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
}

.g-catalog {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
  &__title {
    display: block;
    margin: 0 0 46px 0;
    color: #252525;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  }
  &__nav {
    display: block;
    width: 100%;
    margin: 0 0 48px 0;
    padding: 10px 0;
    list-style: none;
    background-color: #306bd1;
    li {
      display: block;
      a {
        display: block;
        position: relative;
        width: 100%;
        padding: 8px 60px 8px 20px;
        color: #fefefe;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          background: #417adb url("../images/catalog_arrow_right.png") no-repeat right 20px center;
          color: #fefefe;
          text-decoration: none;
        }
      }
    }
    &_active {
      a {
        background: #417adb url("../images/catalog_arrow_right.png") no-repeat right 20px center !important;
      }
    }
  }
  &__subtitle {
    display: block;
    margin: 18px 0 4px 0;
    color: #306bd1;
    font-size: 18px;
    font-weight: 500;
  }
  &__sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 11px 20px;
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
    color: #252525;
    font-size: 18px;
    font-weight: 400;
    img,
    svg {
      display: block;
      max-width: 16px;
      max-height: 16px;
      margin-left: 20px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #c8c8c8;
      color: #252525;
      text-decoration: none;
    }
    &_active {
      img,
      svg {
        transform: rotate(180deg);
      }
    }
  }
  &__check {
    display: block;
    width: 100%;
    input {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      &:checked ~ div {
        color: #306bd1;
      }
    }
    & > div {
      display: block;
      padding: 5px 0;
      color: #252525;
      font-size: 18px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #306bd1;
        text-decoration: none;
      }
    }
  }
  &__links {
    display: none;
    position: relative;
    width: 100%;
    max-height: 385px;
    margin: 0;
    padding: 10px 20px;
    list-style: none;
    background-color: #f0f4f9;
    li {
      display: block;
      width: 100%;
    }
  }
  &__button {
    display: block;
    position: relative;
    width: 100%;
    margin: 40px 0 28px 0;
    padding: 8px 24px;
    border: 1px solid #306bd1;
    background-color: #ffffff;
    color: #306bd1;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #0b4382;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__link {
    display: block;
    width: 100%;
    margin: 0;
    color: #306bd1;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #306bd1;
      text-decoration: none;
    }
  }
  &-card {
    display: block;
    position: relative;
    margin: 0 0 10px 0;
    padding: 5px;
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__title {
      display: block;
      margin: 10px 0;
      color: #252525;
      font-size: 16px;
      font-weight: 500;
    }
    &__have {
      display: block;
      margin: 10px 0;
      color: #252525;
      font-size: 16px;
      font-weight: 400;
    }
    &__price {
      display: block;
      margin: 0;
      color: #252525;
      font-size: 16px;
      font-weight: 500;
      b,
      strong {
        color: #306bd1;
        font-size: 20px;
        font-weight: 500;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      border-color: #306bd1;
      text-decoration: none;
    }
  }
}

.g-pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 20px 0 10px 0;
  list-style: none;
  li {
    display: inline-block;
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      min-width: 25px;
      height: 25px;
      padding: 2px;
      border: 1px solid transparent;
      background-color: #ffffff;
      color: #252525;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #306bd1;
        text-decoration: none;
      }
    }
    img,
    svg {
      display: block;
      max-width: 12px;
      max-height: 12px;
    }
  }
  &_active {
    a {
      border-color: #306bd1 !important;
    }
  }
}

.g-step {
  display: block;
  position: relative;
  width: 100%;
  &:nth-child(even) {
    background: #f0f4f9;
  }
  &__image {
    display: block;
    position: relative;
    width: 100%;
    max-width: 370px;
    height: 370px;
    margin: 0 auto;
    background-position: center center;
    background-size: cover;
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 20px;
      left: 20px;
      border: 2px solid #306bd1;
      z-index: 2;
    }
  }
  &__content {
    display: block;
    width: 100%;
    padding: 30px 0;
    p {
      display: block;
      margin: 0 0 10px 0;
      color: #252525;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    b,
    strong {
      font-weight: 700;
    }
    ul {
      display: block;
      margin: 10px 0 10px 10px;
      padding: 0;
      list-style: none;
      color: #252525;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 1.5;
      li {
        display: block;
        position: relative;
        &:before {
          content: "• ";
          color: #306bd1;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
  &__number {
    display: block;
    margin: 0 0 10px 0;
    color: #306bd1;
    font-size: 62px;
    font-weight: 500;
  }
}

.g-contacts {
  display: block;
  position: relative;
  width: 100%;
  &__nav {
    display: block;
    width: 100%;
    margin: 0 0 48px 0;
    padding: 10px 0;
    list-style: none;
    background-color: #f0f4f9;
    li {
      display: block;
      a {
        display: block;
        position: relative;
        width: 100%;
        padding: 8px 60px 8px 20px;
        color: #252525;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          background: #ffffff url("../images/contacts_right.png") no-repeat right 20px center;
          color: #252525;
          text-decoration: none;
        }
      }
    }
    &_active {
      a {
        background: #ffffff url("../images/contacts_right.png") no-repeat right 20px center !important;
        color: #252525;
      }
    }
  }
  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #252525;
    font-size: 35px;
    font-weight: 500;
  }
  &__info {
    display: flex;
    position: relative;
    margin: 4px 0 0 0;
    img,
    svg {
      display: block;
      width: 25px;
      height: 25px;
      object-fit: scale-down;
      object-position: 0 center;
    }
    color: #252525;
    font-size: 16px;
    font-weight: 400;
    a {
      color: #0b4382;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #0b4382;
        text-decoration: none;
      }
    }
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    position: relative;
    width: 100%;
    padding-top: 40px;
  }
  &__button {
    display: inline-block;
    position: relative;
    min-width: 160px;
    margin-right: 10px;
    padding: 7px 5px;
    border: 1px solid #306bd1;
    background-color: #ffffff;
    color: #306bd1;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #0b4382;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

#map {
  display: block;
  position: relative;
  width: calc(100% + 30px);
  height: 410px;
  margin-left: -30px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .g_mob_hide {
    display: none;
  }
  .g-header__info {
    display: none;
  }
  .g-header__button {
    display: none;
  }
  .g-header__what {
    display: none;
  }
  .g-home-services__image img,
  .g-home-services__image svg {
    max-width: 100%;
  }
  .g-nav {
    display: none;
    padding: 12px 0;
  }
  .g-nav__ul > li {
    display: block;
    width: 100%;
    & > a {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  .g-nav__ul li:hover > ul {
    display: none;
  }
  .g-header__mob {
    display: block;
    position: absolute;
    padding: 14px 0 14px 14px;
    top: 0;
    right: 15px;
    z-index: 2;
    cursor: pointer;
  }
  .g-header__what {
    margin: 12px 0 4px 0;
  }
  .g-top-card {
    padding: 40px 0;
  }
  .g-top-card__title {
    height: 66px;
    font-size: 15px;
  }
  .g-home-services {
    padding: 40px 0;
  }
  .g-home-services__image img,
  .g-home-services__image svg {
    position: relative;
    margin: 20px auto;
  }
  .g-home-fix {
    padding: 40px 0;
  }
  .g-home-fix__title {
    margin: 20px 0;
  }
  .g-home-fix__row {
    padding: 10px 0;
  }
  .g-home-fix__button {
    padding: 7px 20px;
  }
  .g-home-fix-card__title {
    font-size: 16px;
  }
  .g-home-fix-card {
    padding: 20px;
  }
  .g-home-fix .swiper-scrollbar {
    margin: 10px 0;
  }
  .g-home-seo__title {
    margin: 20px 0;
  }
  .g-home-seo__image {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: 100%;
    height: 300px;
    margin: 10px auto;
    &:before {
      display: none;
    }
  }
  .g-home-seo__alt {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: 100%;
    height: 300px;
    margin: 10px auto;
    &:before {
      display: none;
    }
  }
  .g-home-reviews {
    padding: 40px 0;
  }
  .g-home-reviews__title {
    margin: 20px 0;
  }
  .g-home-reviews__button {
    margin-bottom: 20px;
  }
  .g-home-reviews-card {
    padding: 20px 50px 20px 20px;
    &__image {
      margin: 10px 0 5px 0;
    }
  }
  .g-home-reviews .swiper-button-next,
  .g-home-reviews .swiper-button-prev {
    right: 5px;
  }
  .g-home-reviews-card__name {
    font-size: 15px;
  }
  .g-home-reviews-card__who {
    font-size: 12px;
  }
  .g-home-feedback {
    padding: 40px 0;
  }
  .g-home-feedback__image {
    height: 400px;
    margin: 0 auto 20px auto;
    &:before {
      display: none;
    }
  }
  .g-footer__nav {
    margin: 20px 0;
    li {
      display: block;
      width: 100%;
      a {
        display: block;
        width: 100%;
        padding: 12px;
      }
    }
  }
  .g-footer__info {
    margin: 0;
    padding: 6px 6px 6px 0;
  }
  .g-header__button {
    margin: 5px 0;
  }
  .g-header__button img,
  .g-header__button svg {
    display: none;
  }
  .g-modal__content {
    padding: 20px;
  }
  .g-modal__title {
    margin: 20px 0;
  }
  .g-modal__button {
    margin: 0;
  }
  .g-modal__title {
    font-size: 22px;
  }
  .g-home-feedback__button {
    margin: 30px 0 0 0;
  }
  .g-services-card {
    flex-flow: column nowrap;
  }
  .g-services-card__content {
    min-height: auto;
    padding: 20px;
  }
  .g-page {
    padding: 40px 0;
  }
  .g-page__title {
    margin: 0 0 20px 0;
    font-size: 32px;
  }
  .g-map-title__this {
    font-size: 18px;
  }
  .g-reviews-card {
    margin: 0 auto 10px auto;
    padding: 20px;
  }
  .g-reviews-card__name {
    margin: 5px 0 0 0;
  }
  .g-reviews-card__who {
    margin: 5px 0 0 0;
  }
  .g-reviews-card__text {
    margin: 10px 0 0 0;
  }
  .g-reviews__centered {
    padding-bottom: 0;
  }
  .g-services-card {
    margin: 0 auto 10px auto;
  }
  .g-about__image {
    margin: 20px auto;
    &:before {
      display: none;
    }
  }
  .g-about {
    margin: 0;
  }
  .g-about__text {
    margin: 0 0 10px 0;
  }
  .g-home-seo_about {
    margin: 0;
  }
  .g-home-seo_about {
    padding: 20px 0;
  }
  .g-home-services__title {
    font-size: 28px;
  }
  .g-papers {
    padding: 20px 0;
  }
  .g-papers__title {
    margin: 20px 0;
    font-size: 28px;
  }
  .g-papers__button {
    margin-bottom: 20px;
  }
  .g-papers-card {
    padding: 20px;
  }
  .g-papers-card__title {
    margin: 10px 0;
    padding: 0;
  }
  .g-papers-card__text {
    padding: 0;
  }
  .g-papers .swiper-button-prev {
    top: 0;
    right: 0;
  }
  .g-papers .swiper-button-next {
    top: 34px;
    right: 0;
  }
  .g-gallery__title {
    margin: 20px 0;
    font-size: 28px;
  }
  .g-gallery {
    padding: 20px;
    &-card {
      margin: 0 auto 10px auto;
    }
  }
  .g-good__image {
    height: 300px;
  }
  .g-good__title {
    margin: 20px 0;
    font-size: 32px;
  }
  .g-good__price {
    font-size: 30px;
  }
  .g-tabs__header li {
    width: 100%;
    padding: 8px;
    text-align: center;
  }
  .g-tabs .table thead th {
    padding: 6px;
  }
  .g-tabs .table td,
  .g-tabs .table th {
    padding: 6px;
  }
  .g-tabs {
    padding-bottom: 10px;
  }
  .g-service__title {
    flex-flow: row wrap;
    font-size: 20px;
    img,
    svg {
      margin: 10px 20px 10px 0;
    }
  }
  .g-service__image {
    height: 300px;
  }
  .g-categories__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .g-categories-card {
    margin: 0 auto 10px auto;
  }
  .g-categories {
    padding: 0;
  }
  .g-categories-content {
    padding: 40px 0;
  }
  .g-footer__nav li a {
    padding: 12px 0;
  }
  .g-catalog__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .g-catalog__subtitle {
    margin: 10px 0 3px 0;
  }
  .g-catalog__nav {
    margin-bottom: 20px;
  }
  .g-catalog__button {
    margin: 20px 0;
  }
  .g-catalog__link {
    margin-bottom: 40px;
  }
  .g-catalog-card {
    padding: 20px;
  }
  .g-step {
    .col-lg-4 {
      order: -1 !important;
    }
  }
  .g-step__image {
    height: 300px;
  }
  .g-contacts__title {
    font-size: 28px;
  }
  .g-contacts__nav {
    margin: 0 auto 20px auto;
  }
  .g-contacts__row {
    padding: 20px 0;
  }
  .g-contacts__button {
    width: 100%;
    margin: 5px 0;
  }
  #map {
    width: 100%;
    height: 350px;
    margin: 0 auto;
  }
  .g-header__what {
    width: 100%;
  }
  .g-top .swiper-pagination {
    bottom: 10px;
    left: 0;
    text-align: center;
  }
}
